<div class="navbar-wagon">

    <!-- Button (call-to-action) -->
    <%= link_to "Arquivos Importados", root_path, class: "navbar-wagon-item navbar-wagon-button" %>
    <%= link_to "Identificar Arquivo", new_arquivo_path, class: "navbar-wagon-item navbar-wagon-button" %>
  </div>
</div>
